@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-gradient-to-r from-primary to-secondary duration-300 py-2 px-6 text-white rounded-full hover:scale-105;
  }
}

/* Wrapper pour l'animation du blob en mouvement */
.animated-wrapper {
  animation: move-wrapper 25s ease-in-out infinite;
  position: absolute;
}

@keyframes move-wrapper {
  0% {
    transform: translate(150%, 30%) rotate(0) scale(0.8);
  }
  50% {
    transform: translate(60vw, 0vh) rotate(150deg) scale(1.2);
  }
  100% {
    transform: translate(40vw, 40vh) rotate(0deg) scale(0.8);
  }
}

/* Animation Fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

/* Animation Fade-out */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
}

/* Style pour le blob animé */
.moving-background {
  animation: move-bg 30s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}

@keyframes move-bg {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  50% {
    transform: translateX(-5%) translateY(-5%) scale(1.05);
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
